.actual {
  &__top {
    padding-top: 62rem;
    position: relative;
    @include mobile {
      padding-top: 53rem;
    }
    &-heading {
      font-family: 'enthalpy298regular', sans-serif;
      font-weight: 400;
      font-size: 60rem;
      line-height: 72rem;
      color: $white;
      text-shadow: 0 1rem 10rem rgba(115, 159, 187, 0.2);
      @include mobile {
        font-size: 46rem;
        line-height: 48rem;
      }
    }
    &-img {
      position: absolute;
      width: 118rem;
      height: 120rem;
      top: 1rem;
      left: 214rem;
      @include mobile {
        width: 107rem;
        height: 110rem;
        top: 0;
        left: 143rem;
        transform: rotate(12deg);
      }
    }
  }
  &__bottom {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    @include mobile {
      margin-top: 24rem;
      flex-direction: column;
    }
  }
  &__showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    @include mobile {
      gap: 0;
      flex-wrap: nowrap;
    }
  }
  &__block {
    padding: 172rem 20rem;
    border-radius: 20rem;
    background-image: url("../img/covid-fone.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include mobile {
      width: 327rem;
      padding: 94rem 16rem 102rem;
      margin-top: 24rem;
    }
    &-heading {
      width: 338rem;
      font-family: 'enthalpy298regular', sans-serif;
      font-weight: 400;
      font-size: 40rem;
      line-height: 48rem;
      color: $white;
      @include mobile {
        width: 295rem;
        font-size: 36rem;
        line-height: 42rem;
      }
    }
    &-text {
      margin-top: 5rem;
      font-weight: 400;
      font-size: 26rem;
      line-height: 31rem;
      color: #FFFFFF;
      @include mobile {
        margin-top: 8rem;
        font-size: 21rem;
        line-height: 25rem;
      }
    }
    &-btn {
      margin-top: 22rem;
      padding: 20rem 89rem;
      font-weight: 700;
      font-size: 20rem;
      line-height: 24rem;
      @include mobile {
        margin-top: 31rem;
        padding: 20rem 108rem;
        font-size: 23rem;
        line-height: 27rem;
      }
    }
    &-img1 {
      position: absolute;
      width: 264rem;
      height: 262rem;
      top: -104rem;
      left: -50rem;
      @include mobile {
        width: 248rem;
        height: 248rem;
        top: -51rem;
        left: auto;
        right: -60px;
      }
    }
    &-img2 {
      position: absolute;
      width: 175rem;
      height: 173rem;
      bottom: -65rem;
      right: -83rem;
      @include mobile {
       display: none;
      }
    }
  }
}