.breadcrumb {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  &__link {
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: $blue;
    &-active {
      font-weight: 700;
      font-size: 16rem;
      line-height: 24rem;
      color: $blue;
    }
    &::after {
      margin-left: 12rem;
      margin-right: 10rem;
      content: url(../img/arrow-right.svg);
      width: 11rem;
      height: 24rem;
    }
    &:hover {
      color: #01447e;
    }
  }
}
