.breadcrumb {
  margin-top: 20rem;
  display: flex;
  align-items: center;
  @include mobile {
    margin-top: 3rem;
    align-items: flex-start;
  }
  &__link {
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: $blue;
    @include mobile {
      max-width: 145rem;
      font-size: 12rem;
      line-height: 24rem;
    }
    &.active {
      font-weight: 700;
      @include mobile {
        font-size: 12rem;
        line-height: 12rem;
      }
    }
    &:after {
      margin-left: 12rem;
      margin-right: 10rem;
      content: ">";
      @include mobile {
        margin: 0 5rem;
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    &:hover {
      color: #01447e;
    }
  }
}
