.burger-menu {
  display: none;
  @include mobile {
    display: block;
  }
  &__trigger {
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 1px;
    top: 8px;
    &-img {
      width: 24rem;
      height: 16rem;
    }
    @include mobile {
      display: flex;
    }
  }
  &__popup {
    display: none;
    position: absolute;
    left: -110%;
    top: 0;
    z-index: 9999;
  }
  &__flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5rem);
  }
  &__block {
    width: 276rem;
    height: 100%;
    padding: 35rem 23rem;
    background-color: $white;
    &-nav {
      display: flex;
      flex-direction: column;
    }
    &-link {
      margin-bottom: 50rem;
      font-weight: 700;
      font-size: 16rem;
      line-height: 18rem;
      color: $black;
      &:last-child {
        margin-bottom: 47rem;
      }
    }
    &-btn {
      width: 150rem;
      height: 36rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 17rem;
      line-height: 17rem;
      color: $white;
    }
  }
  &__close {
    margin-top: 8rem;
    margin-right: 46rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    &-img {
      width: 47rem;
      height: 47rem;
    }
  }
}