.calculator {
  &__fone {
    background-image: url("../img/calculator-fone.png");
    background-repeat: no-repeat;
    background-size: 677rem 710rem;
    background-position: 763rem 43rem;
  }
  .promo {
    padding-top: 48rem;
    &__top {
      justify-content: flex-start;
      &-heading {
        display: none;
        &--calculator {
          display: block;
        }
      }
      &-text {
        display: none;
      }
    }
    &__plan {
      margin-top: 94rem;
      padding: 29rem 30rem 33rem 20rem;
      &-block--calculator {
        display: block;
      }
      &-item {
        display: none;
        &--calculator {
          display: block;
        }
      }
      &-img {
        display: none;
      }
    }
    &__sticker {
      &-1 {
        display: none;
      }
      &-2 {
        display: block;
        padding: 11rem 9rem;
        font-size: 24rem;
        top: 317rem;
        left: -24rem;
        transform: rotate(9deg);
        background: $blue2;
      }
      &-3 {
        top: 168rem;
        left: 437rem;
        transform: rotate(-18deg);
      }
      &-6 {
        display: block;
      }
    }
  }
}