.confirmation {
  ///////////////////
  //margin-top: 166rem;
  ////////////////////
  width: 1179rem;
  height: 555rem;
  padding: 57rem 110rem 72rem 60rem;
  background: $white;
  border-radius: 37rem;
  position: relative;
  @include mobile {
    width: 280rem;
    height: auto;
    padding: 25rem 15rem;
  }
  &__heading {
    margin-bottom: 21rem;
    font-family: 'enthalpy298regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60rem;
    line-height: 72rem;
    color: $primary;
    @include mobile {
      margin-bottom: 15rem;
      font-size: 26rem;
      line-height: 31rem;
    }
  }
  &__text {
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: 26rem;
    line-height: 32rem;
    color: $primary;
    &:last-child {
      margin-bottom: 0;
    }
    @include mobile {
      font-size: 14rem;
      line-height: 17rem;
    }
  }
  &__buttons {
    margin-top: 29rem;
    display: flex;
    align-items: center;
    @include mobile {
      margin-top: 20rem;
      flex-direction: column;
    }
  }
  &__btn {
    margin-right: 20rem;
    width: 250rem;
    height: 64rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20rem;
    line-height: 24rem;
    &:last-child {
      margin-right: 0;
    }
    @include mobile {
      margin-right: 0;
      margin-bottom: 15rem;
      flex-direction: column;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    position: absolute;
    top: -106rem;
    right: -136rem;
    width: 409rem;
    height: 381rem;
    @include mobile {
      top: -52rem;
      right: -27rem;
      width: 136rem;
      height: 126rem;
    }
  }
}
