.header {
  padding-top: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile {
    padding-top: 12rem;
  }
  &__menu {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    &-img {
      width: 24rem;
      height: 16rem;
    }
    @include mobile {
      display: flex;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    @include mobile {
      display: none;
    }
  }
  &__link {
    margin-right: 8rem;
    width: 148rem;
    font-weight: 700;
    font-size: 14rem;
    line-height: 17rem;
    text-decoration-line: underline;
    color: $white;
  }
  &__btn {
    padding: 13rem 34rem;
    font-weight: 700;
    font-size: 16rem;
    line-height: 19rem;
    @include mobile {
      padding: 9rem 29rem;
      font-size: 14rem;
      line-height: 17rem;
    }
  }
}
