.promo {
  padding-top: 86rem;
  position: relative;
  @include mobile {
    padding-top: 301rem;
  }
  &__breadcrumb {
    position: absolute;
    top: 0;
    left: 135rem;
    display: none;
    @include mobile {
      left: 24rem;
    }
  }
  &__top {
    display: flex;
    justify-content: flex-end;
    position: relative;
    @include mobile {
      flex-direction: column;
      justify-content: center;
    }
    &-heading {
      margin-right: 41rem;
      font-family: 'enthalpy298regular', sans-serif;
      font-weight: 400;
      font-size: 160rem;
      line-height: 138rem;
      color: $white;
      text-shadow: 0 1rem 10rem rgba(115, 159, 187, 0.2);
      @include mobile {
        margin-right: 0;
        font-size: 98rem;
        line-height: 78rem;
      }
      &--VideoAudio {
        display: none;
      }
      &--calculator {
        display: none;
      }

    }
    &-text {
      width: 185rem;
      font-weight: 400;
      font-size: 20rem;
      line-height: 21rem;
      color: $black;
      position: absolute;
      top: 23rem;
      right: 14rem;
      @include mobile {
        margin-top: 11rem;
        width: 290rem;
        position: static;
        font-size: 16rem;
        line-height: 18rem;
      }
    }
  }
  &__plan {
    margin-top: 100rem;
    padding: 49rem 30rem 50rem 20rem;
    background: $white;
    border-radius: 37rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include mobile {
      margin-top: 35rem;
      padding: 25rem 15rem;
      flex-direction: column;
    }
    &-heading {
      font-weight: 400;
      font-size: 26rem;
      line-height: 31rem;
      color: $black;
      span {
        font-weight: 700;
      }
      @include mobile {
        font-size: 19rem;
        line-height: 24rem;
      }
    }
    &-block {
      display: flex;
      align-items: center;
      @include mobile {
        flex-direction: column;
        margin-top: 15rem;
      }
      &--VideoAudio {
        display: none;
        align-items: center;
      }
      &--calculator {
        display: none;
      }
    }
    &-blockHeading {
      font-weight: 400;
      font-size: 16rem;
      line-height: 21rem;
      color: $black;
    }
    &-item {
      width: 276rem;
      height: 64rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 22rem;
      background-color: $white;
      border: 1rem solid $gray2;
      border-radius: 120rem;
      @include mobile {
        width: 293rem;
        height: 75rem;
      }
    }
    &-input {
      width: 100%;
      font-weight: 400;
      font-size: 16rem;
      line-height: 21rem;
      @include mobile {
        font-size: 14rem;
      }
    }
    &-btn {
      height: 64rem;
      width: 250rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 23rem;
      font-weight: 700;
      font-size: 20rem;
      line-height: 24rem;
      @include mobile {
        width: 100%;
        height: 67rem;
        font-size: 14rem;
        line-height: 17rem;
        margin-left: 0;
        margin-top: 17rem;
      }
    }
    &-img {
      position: absolute;
      width: 154rem;
      height: 177rem;
      top: -138rem;
      right: 14rem;
      @include mobile {
        width: 85rem;
        height: 99rem;
        top: -37rem;
        right: 0;
      }
      &--VideoAudio {
        display: none;
        position: absolute;
        width: 408rem;
        height: 205rem;
        top: -134rem;
        left: 3px;
        @include mobile {
          width: 308rem;
          height: 150rem;
          top: -102rem;
          left: -4px;
        }
      }
    }
  }
  &__sticker {
    position: absolute;
    font-weight: 700;
    font-size: 24rem;
    line-height: 30rem;
    color: $white;
    @include mobile {
      font-size: 14px;
      line-height: 17rem;
    }
    &-1 {
      padding: 16rem 19rem;
      bottom: 196rem;
      left: 127rem;
      background: $blue2;
      transform: rotate(-12deg);
      @include mobile {
        padding: 6rem 2rem;
        bottom: auto;
        left: auto;
        top: 339rem;
        right: 23rem;
        background: $blue;
        transform: rotate(-25deg);
      }
    }
    &-2 {
      padding: 11rem 6rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 103rem;
      left: 472rem;
      background: $yellow;
      transform: rotate(9deg);
      @include mobile {
        font-size: 14px;
        line-height: 17rem;
        padding: 6rem 2rem;
        top: 81rem;
        left: auto;
        right: 46rem;
        background: $yellow;
        transform: rotate(21deg);
      }
    }
    &-3 {
      padding: 10rem 7rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 218rem;
      left: 696rem;
      background: $orange2;
      transform: rotate(-27deg);
      @include mobile {
        font-size: 14px;
        line-height: 17rem;
        padding: 6rem 5rem;
        top: 278rem;
        left: 12px;
        transform: rotate(-12deg);
      }
    }
    &-4 {
      display: none;
      padding: 10rem 7rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 248rem;
      left: 188rem;
      background: $yellow;
      transform: rotate(-30deg);
      @include mobile {
        padding: 5rem 10rem;
        font-size: 14rem;
        line-height: 17rem;
        top: 361rem;
        left: 51rem;
        transform: rotate(-12deg);
      }
    }
    &-5 {
      display: none;
      padding: 10rem 7rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 104rem;
      left: 461rem;
      background: $orange2;
      transform: rotate(12deg);
      @include mobile {
        padding: 5rem 10rem;
        font-size: 14rem;
        line-height: 17rem;
        top: 299rem;
        left: 225rem;
        transform: rotate(21deg);
      }
    }
    &-6 {
      display: none;
      padding: 10rem 6rem;
      font-size: 20rem;
      line-height: 24rem;
      top: -3rem;
      right: 111rem;
      background: $yellow;
      transform: rotate(9deg);
      @include mobile {
      }
    }
  }
  &__img {
    display: none;
    position: absolute;
    &-1 {
      width: 111rem;
      height: 111rem;
      top: 123rem;
      right: 246rem;
      @include mobile {
        width: 64rem;
        height: 64rem;
        top: 71rem;
        right: 65rem;
      }
    }
    &-2 {
      width: 120rem;
      height: 120rem;
      bottom: 216rem;
      right: 306rem;
      @include mobile {
        width: 70rem;
        height: 70rem;
        top: 169rem;
        bottom: auto;
        right: 98rem;
      }
    }
  }
}