.promo {
  padding-top: 86rem;
  position: relative;
  @include mobile {
    padding-top: 301rem;
  }
  &__breadcrumb {
    position: absolute;
    top: 0;
    left: 135rem;
    display: none;
    @include mobile {
      left: 24rem;
    }
  }
  &__top {
    display: flex;
    justify-content: flex-end;
    position: relative;
    @include mobile {
      flex-direction: column;
      justify-content: center;
    }
    &-heading {
      margin-right: 41rem;
      font-family: 'enthalpy298regular', sans-serif;
      font-weight: 400;
      font-size: 160rem;
      line-height: 138rem;
      color: $white;
      text-shadow: 0 1rem 10rem rgba(115, 159, 187, 0.2);
      @include mobile {
        margin-right: 0;
        font-size: 98rem;
        line-height: 78rem;
      }
      &--VideoAudio {
        display: none;
      }
      &--calculator {
        display: none;
        @include mobile {
          margin-right: 0;
          font-size: 50rem;
          line-height: 48rem;
        }
      }
      &--individually {
        margin-right: 0;
        font-size: 80rem;
        line-height: 79rem;
        display: none;
      }
      &--announcement {
        display: none;
      }
      &--recommendations {
        display: none;
      }
      &--instructions {
        display: none;
      }
      &--valuable {
        display: none;
      }
    }
    &-text {
      width: 185rem;
      font-weight: 400;
      font-size: 20rem;
      line-height: 21rem;
      color: $black;
      position: absolute;
      top: 23rem;
      right: 14rem;
      @include mobile {
        margin-top: 11rem;
        width: 290rem;
        position: static;
        font-size: 16rem;
        line-height: 18rem;
      }
      &--individually {
        position: static;
        margin-top: 14rem;
        font-size: 30rem;
        line-height: 36rem;
        color: $white;
        text-shadow: 0 1rem 10rem rgba(115, 159, 187, 0.2);
        display: none;
      }
    }
  }
  &__plan {
    margin-top: 100rem;
    padding: 49rem 30rem 50rem 20rem;
    background: $white;
    border-radius: 37rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include mobile {
      margin-top: 35rem;
      padding: 25rem 15rem;
      flex-direction: column;
    }
    &-heading {
      font-weight: 400;
      font-size: 26rem;
      line-height: 31rem;
      color: $black;
      span {
        font-weight: 700;
      }
      @include mobile {
        font-size: 19rem;
        line-height: 24rem;
      }
      &--individually {
        display: none;
      }
    }
    &-block {
      display: flex;
      align-items: center;
      @include mobile {
        flex-direction: column;
        margin-top: 15rem;
      }
      &--VideoAudio {
        display: none;
        align-items: center;
      }
      &--calculator {
        display: none;
      }
      &-flex  {
        display: flex;
        align-items: center;
      }
      &--announcement {
        width: 100%;
        display: none;
        align-items: flex-end;
      }
      &--recommendations  {
        display: none;
      }
    }
    &-flex {
      margin-right: 23rem;
    }
    &-blockHeading {
      font-weight: 400;
      font-size: 16rem;
      line-height: 21rem;
      color: $black;
      &--announcement {
        margin-bottom: 21rem;
        font-weight: 400;
        font-size: 26rem;
        line-height: 31rem;
        color: $black;
        @include mobile {
          font-size: 19rem;
          line-height: 19rem;
        }
      }
    }
    &-item {
      width: 276rem;
      height: 64rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 22rem;
      background-color: $white;
      border: 1rem solid $gray2;
      border-radius: 120rem;
      @include mobile {
        width: 293rem;
        height: 75rem;
      }
      &--calculator {
        height: 64rem;
        padding: 16rem 13rem;
        background-color: $white;
        border: 1rem solid $gray2;
        border-radius: 120rem;
        margin-top: 6rem;
        margin-right: 18rem;
        z-index: 9999;
        @include mobile {
          margin-top: 20rem;
        }
        &:nth-child(1) {
          width: 105rem;
          @include mobile {
            width: 100%;
            margin-right: 0;
          }
        }
        &:nth-child(2) {
          width: 160rem;
          @include mobile {
            width: 100%;
            margin-right: 0;
          }
        }
        &:nth-child(3) {
          width: 140rem;
          margin-right: 0;
          @include mobile {
            width: 100%;
            margin-right: 0;
          }
        }
      }
      &--announcement {
        display: flex;
        align-items: center;
        height: 64rem;
        width: 276rem;
        border: 1rem solid $gray2;
        border-radius: 120rem;
      }
    }
    &-input {
      width: 100%;
      font-weight: 400;
      font-size: 16rem;
      line-height: 21rem;
      @include mobile {
        font-size: 14rem;
      }
    }
    &-btn {
      height: 64rem;
      width: 250rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 23rem;
      font-weight: 700;
      font-size: 20rem;
      line-height: 24rem;
      @include mobile {
        width: 100%;
        height: 67rem;
        font-size: 14rem;
        line-height: 17rem;
        margin-left: 0;
        margin-top: 17rem;
      }
    }
    &-img {
      position: absolute;
      width: 154rem;
      height: 177rem;
      top: -138rem;
      right: 14rem;
      @include mobile {
        width: 85rem;
        height: 99rem;
        top: -37rem;
        right: 0;
      }
      &--VideoAudio {
        display: none;
        position: absolute;
        width: 408rem;
        height: 205rem;
        top: -134rem;
        left: 3rem;
        @include mobile {
          width: 308rem;
          height: 150rem;
          top: -102rem;
          left: -4rem;
        }
      }
      &--announcement {
        display: none;
        position: absolute;
        top: -103rem;
        right: -1rem;
        transform: rotate(-7deg);
      }
    }
  }
  &__switch {
    margin-right: 267rem;
    width: 265rem;
    height: 64rem;
    display: flex;
    border: 1rem solid $gray2;
    border-radius: 120rem;
    &-btn {
      width: 140rem;
      height: 64rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 120rem;
      font-weight: 700;
      font-size: 16rem;
      line-height: 21rem;
      color: $black;
      &--active {
        color: $white;
        background-color: $orange2;
      }
    }
  }
  &__sticker {
    position: absolute;
    font-weight: 700;
    font-size: 24rem;
    line-height: 30rem;
    color: $white;
    @include mobile {
      font-size: 14rem;
      line-height: 17rem;
    }
    &-1 {
      padding: 16rem 19rem;
      bottom: 196rem;
      left: 127rem;
      background: $blue2;
      transform: rotate(-12deg);
      @include mobile {
        padding: 6rem 2rem;
        bottom: auto;
        left: auto;
        top: 339rem;
        right: 23rem;
        background: $blue;
        transform: rotate(-25deg);
      }
    }
    &-2 {
      padding: 11rem 6rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 103rem;
      left: 472rem;
      background: $yellow;
      transform: rotate(9deg);
      @include mobile {
        font-size: 14rem;
        line-height: 17rem;
        padding: 6rem 2rem;
        top: 81rem;
        left: auto;
        right: 46rem;
        background: $yellow;
        transform: rotate(21deg);
      }
    }
    &-3 {
      padding: 10rem 7rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 218rem;
      left: 696rem;
      background: $orange2;
      transform: rotate(-27deg);
      @include mobile {
        font-size: 14rem;
        line-height: 17rem;
        padding: 6rem 5rem;
        top: 278rem;
        left: 12rem;
        transform: rotate(-12deg);
      }
    }
    &-4 {
      display: none;
      padding: 10rem 7rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 248rem;
      left: 188rem;
      background: $yellow;
      transform: rotate(-30deg);
      @include mobile {
        padding: 5rem 10rem;
        font-size: 14rem;
        line-height: 17rem;
        top: 361rem;
        left: 51rem;
        transform: rotate(-12deg);
      }
    }
    &-5 {
      display: none;
      padding: 10rem 7rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 104rem;
      left: 461rem;
      background: $orange2;
      transform: rotate(12deg);
      @include mobile {
        padding: 5rem 10rem;
        font-size: 14rem;
        line-height: 17rem;
        top: 299rem;
        left: 225rem;
        transform: rotate(21deg);
      }
    }
    &-6 {
      display: none;
      padding: 10rem 6rem;
      font-size: 20rem;
      line-height: 24rem;
      top: -3rem;
      right: 111rem;
      background: $yellow;
      transform: rotate(9deg);
    }
    &-7 {
      display: none;
      padding: 10rem 6rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 77rem;
      right: 473rem;
      background: $orange2;
      transform: rotate(12deg);
    }
    &-8 {
      display: none;
      padding: 10rem 9rem;
      font-size: 20rem;
      line-height: 24rem;
      top: 124rem;
      left: 223rem;
      background: $orange2;
      transform: rotate(13deg);
    }
  }
  &__img {
    display: none;
    position: absolute;
    &-1 {
      width: 111rem;
      height: 111rem;
      top: 123rem;
      right: 246rem;
      @include mobile {
        width: 64rem;
        height: 64rem;
        top: 71rem;
        right: 65rem;
      }
    }
    &-2 {
      width: 120rem;
      height: 120rem;
      bottom: 216rem;
      right: 306rem;
      @include mobile {
        width: 70rem;
        height: 70rem;
        top: 169rem;
        bottom: auto;
        right: 98rem;
      }
    }
  }
}