.recommendations {
  background-image: url("../img/recommendations-fone.png");
  background-position: 687rem -49rem;
  background-size: 753rem 740rem;
  @include mobile {
    background-position: -28rem -2rem;
    background-size: 441rem 432rem;
  }
  .promo {
    &__breadcrumb {
      display: block;
    }
    &__top {
      margin-top: 6rem;
      justify-content: flex-start;
      @include mobile {
        margin-top: 0;
      }
      &-heading {
        display: none;
        &--recommendations {
          display: block;
          @include mobile {
            font-size: 58rem;
            line-height: 48rem;
          }
        }
      }
      &-text {
        display: none;
      }
    }
    &__sticker {
      &-1 {
        display: none;
      }
      &-2 {
        padding: 11rem 7rem;
        font-size: 24rem;
        top: 361rem;
        left: 923rem;
        background-color: $blue2;
        @include mobile {
          padding: 5rem 4rem;
          font-size: 16rem;
          top: 276rem;
          left: auto;
          right: 32rem;
          transform: rotate(19deg);
        }
      }
      &-3 {
        display: none;
      }
      &-6 {
        display: block;
        top: 351rem;
        right: auto;
        left: 85rem;
        transform: rotate(-12deg);
        @include mobile {
          padding: 2rem 4rem;
          font-size: 16rem;
          top: 199rem;
          left: 38rem;
        }
      }
      &-7 {
        display: block;
        @include mobile {
          padding: 2rem 6rem;
          font-size: 16rem;
          top: 72rem;
          right: auto;
          left: 40rem;
          transform: rotate(21deg);
        }
      }
    }
    &__plan {
      margin-top: 94rem;
      @include mobile {
        margin-top: 26rem;
        padding: 35rem 17rem;
      }
      &-heading {
        display: none;
      }
      &-block {
        display: none;
        &--recommendations {
          display: flex;
          width: 100%;
          @include mobile {
            display: block;
          }
        }
      }
      &-item {
        width: 100%;
      }
      &-img {
        display: none;
      }
    }
  }
  &__block {
    position: relative;
    margin-top: 66rem;
    border-radius: 37rem;
    @include mobile {
      margin-top: 47rem;
    }
    .shadow {
      height: 190rem;
      bottom: 51rem;
    }
  }
  &__accordion {
    padding: 42rem 55rem 50rem 30rem;
    background-color: $white;
    border-radius: 37rem;
    @include mobile {
      padding: 25rem 15rem;
    }
    &-item {
      margin-bottom: 15rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7rem 0 17rem 30rem;
      border-bottom: 1rem solid $gray;
      &:last-child {
        margin-bottom: 0;
      }
      @include mobile {
        flex-direction: column;
        padding: 3rem 3rem 24rem;
      }
    }
    &-heading {
      font-weight: 400;
      font-size: 26rem;
      line-height: 31rem;
      color: $black;
      @include mobile {
        font-size: 26rem;
        line-height: 31rem;
        align-self: flex-start;
      }
    }
    &-btn {
      width: 55rem;
      height: 55rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      @include mobile {
        margin-top: 24rem;
        margin-right: 33rem;
        width: 64rem;
        height: 64rem;
        align-self: flex-end;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      margin: 20rem auto 0;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      font-weight: 400;
      font-size: 26rem;
      line-height: 31rem;
      text-decoration-line: underline;
      color: $white;
    }
    &-img {
      margin-left: 33rem;
      width: 12rem;
      height: 13rem;
    }
  }
}