@import "reset";
@import "fonts";
@import "_common.scss";

$black: #131313;
$black2: #313131;
$primary: #333333;
$gray: #A3A3A3;
$gray2: #DDDDDD;
$gray3: #C4C4C4;
$gray4: #D7D7D7;
$white: #FFFFFF;
$blue: #316DB5;
$blue2: #4698F8;
$blue3: #D0E9EE;
$yellow: #FFCC68;
$orange: #E8742F;
$orange2: #FF9C41;
$red: #E2001A;

html {
  font-size: calc(100vw / 375);
  @include desktop {
    font-size: calc(100vw / 1440);
  }
}
body {
  font-family: 'Gotham Pro', sans-serif;
  background-color: #C1D9DE;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1170rem;
  margin: 0 auto;
  @include mobile {
    max-width: 327rem;
  }
}
.btn-primary {
  background: linear-gradient(90.4deg, #F05330 -7.89%, #F6C213 154.06%), #2FB1BE;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 120rem;
  color: $white;
}
.btn-secondary {
  background-color: $gray3;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 120rem;
  color: $white;
}
.input-primary {
  border: none;
  outline: none;
  &::placeholder {
    color: $gray;
  }
}
.index__fone {
  background-image: url("../img/promo-fone.png");
  background-repeat: no-repeat;
  background-size: 939rem 753rem;
  background-position: 0 0;
  @include mobile {
    background-size: 480rem 390rem;
  }
}

@import "header.scss";
@import "promo.scss";
@import "actual.scss";
@import "cardVideo.scss";
@import "cardAudio.scss";
@import "useful.scss";
@import "subscription.scss";
@import "info.scss";
@import "footer.scss";
@import "confirmation.scss";
@import "waiver.scss";
@import "VideoAudio.scss";
@import "video.scss";
@import "audio.scss";
@import "breadcrumb.scss";
@import "calculator.scss";
