<section class="actual container">
        <div class="actual__top">
            <div class="actual__top-heading">Актуально</div>
            <img class="actual__top-img" src="./img/iStock-4.png" alt="img">
        </div>
        <div class="actual__bottom">
            <div class="actual__showcase">
                <%- include('cardVideo.ejs'); %>
                <%- include('cardAudio.ejs'); %>
                <%- include('cardVideo.ejs'); %>
                <%- include('cardAudio.ejs'); %>
            </div>
            <div class="actual__block">
                <div class="actual__block-heading">новая<br>коронавирусная инфекция (COVID-19)</div>
                <div class="actual__block-text">Профилактика,<br>диагностика и лечение</div>
                <button class="actual__block-btn btn-primary">Узнать</button>
                <img class="actual__block-img1" src="./img/iStock-5.png" alt="img">
                <img class="actual__block-img2" src="./img/iStock-6.png" alt="img">
            </div>
        </div>
</section>