<div class="breadcrumb">
    <a class="breadcrumb__link" href="#">Главная</a>
    <a class="breadcrumb__link" href="#">Видео и аудио</a>
    <a class="breadcrumb__link-end" href="#">Сухой кашель: очевидные и неочевидные причины</a>
</div>