<div class="breadcrumb">
    <a class="breadcrumb__link" href="./index.html">Главная</a>
    <a class="breadcrumb__link" href="#">Видео и аудио</a>
    <a class="breadcrumb__link-active" href="#">Сухой кашель: очевидные и неочевидные причины</a>
</div>
