<div class="burger-menu">
    <button class="burger-menu__trigger">
        <img class="burger-menu__trigger-img" src="./img/menu.svg" alt="img">
    </button>
    <div class="burger-menu__popup">
        <div class="burger-menu__flex">
            <div class="burger-menu__block">
                <div class="burger-menu__block-nav">
                    <a class="burger-menu__block-link" href="./VideoAudio.html">Видео и аудио</a>
                    <a class="burger-menu__block-link" href="./calculator.html">Интерактивные калькуляторы</a>
                    <a class="burger-menu__block-link" href="./announcement.html">Анонс мероприятий</a>
                    <a class="burger-menu__block-link" href="./recommendations.html">Клинические рекомендации</a>
                    <a class="burger-menu__block-link" href="./instructions.html">Инструкции</a>
                    <a class="burger-menu__block-link" href="./valuable.html">Полезные статьи</a>
                </div>
                <button class="burger-menu__block-btn btn-primary">Подписаться</button>
            </div>
            <button class="burger-menu__close">
                <img class="burger-menu__close-img" src="./img/close.svg" alt="img">
            </button>
        </div>
    </div>
</div>