<div class="buttons__block">
    <button class="buttons__block-btn btn-primary">Распечатать</button>
    <button class="buttons__block-btn btn-primary">Скачать</button>
    <button class="buttons__block-btn btn-secondary">Поделиться</button>
</div>