<div class="cardVideo">
    <div class="cardVideo__top">
        <div class="cardVideo__top-block">
            <img class="cardVideo__top-img" src="./img/clock.svg" alt="img">
            <div class="cardVideo__top-text">6 мин</div>
        </div>
    </div>
    <div class="cardVideo__bottom">
        <div class="cardVideo__bottom-headline">Видео</div>
        <div class="cardVideo__bottom-header">Сухой кашель: очевидные<br>и неочевидные причины</div>
        <div class="cardVideo__bottom-block">
            <img class="cardVideo__bottom-img" src="./img/ava.png" alt="img">
            <div class="cardVideo__bottom-text">Фамилия Имя Отчество</div>
        </div>
    </div>
</div>