<div class="cardAudio">
    <div class="cardAudio__top">
        <div class="cardAudio__top-block">
            <img class="cardAudio__top-img" src="./img/clock.svg" alt="img">
            <div class="cardAudio__top-text">6 мин</div>
        </div>
    </div>
    <div class="cardAudio__bottom">
        <div class="cardAudio__bottom-headline">Аудиоподкаст</div>
        <div class="cardAudio__bottom-header">Новые подходы к оптимизации терапии гриппа и ОРИ</div>
        <div class="cardAudio__bottom-block">
            <img class="cardAudio__bottom-img" src="./img/ava.png" alt="img">
            <div class="cardAudio__bottom-text">Фамилия Имя Отчество</div>
        </div>
    </div>
</div>