<div class="cardVebinar">
    <div class="cardVebinar__left">
        <div class="cardVebinar__left-block">
            <div class="cardVebinar__left-data">05.05</div>
            <div class="cardVebinar__left-time">11:00</div>
        </div>
    </div>
    <div class="cardVebinar__right">
        <div class="cardVebinar__right-headline">Вебинар</div>
        <div class="cardVebinar__right-heading">Сухой кашель: очевидные и неочевидные причины</div>
        <div class="cardVebinar__right-text">Вебинар — онлайн-трансляция с целью обучения или корпоративной встречи. Если еще проще сказать, что означает слово «вебинар».</div>
    </div>
</div>