<div class="confirmation">
    <div class="confirmation__heading">сайт содержит профессиональную специализированную информацию</div>
    <div class="confirmation__text">Согласно действующему законодательству, данные материалы могут быть доступны только медицинским и фармацевтическим работникам.</div>
    <div class="confirmation__text">Подтвердите, что Вы являетесь медицинским или фармацевтическим работником, и информация, полученная на сайте, будет использована Вами только в профессиональной деятельности.</div>
    <div class="confirmation__buttons">
        <button class="confirmation__btn btn-primary">Подтверждаю</button>
        <button class="confirmation__btn btn-secondary">Не подтверждаю</button>
    </div>
    <img class="confirmation__img" src="./img/iStock-1.png" alt="img">
</div>