<footer class="footer">
    <div class="footer__content container">
        <img class="footer__img" src="./img/footer-logo.svg" alt="img">
        <div class="footer__flex">
            <div class="footer__block">
                <div class="footer__text">За дополнительной информацией обращаться:<br>АО «НИЖФАРМ», 603950, Россия, г. Нижний<br>Новгород,<br>Бокс № 459, ул. Салганская, 7.<br><br>102059</div>
            </div>
            <div class="footer__block">
                <div class="footer__text">Тел.: +7 (831) 278-80-88, +7 (800) 250-50-00.</div>
                <div class="footer__text">Факс: +7 (831) 430-72-13.</div>
                <div class="footer__text">E-mail: med@stada.ru</div>
                <div class="footer__text">www.stada.ru</div>
            </div>
        </div>
        <div class="footer__list">
            <div class="footer__link">Политика конфиденциальности</div>
            <div class="footer__link">Пользовательское соглашение</div>
        </div>
    </div>
</footer>