<header class="header container">
    <button class="header__menu">
        <img class="header__menu-img" src="./img/menu.svg" alt="img">
    </button>
    <div class="header__nav">
        <a class="header__link" href="./VideoAudio.html">Видео и аудио</a>
        <a class="header__link" href="./calculator.html">Интерактивные калькуляторы</a>
        <a class="header__link" href="./announcement.html">Анонс мероприятий</a>
        <a class="header__link" href="./recommendations.html">Клинические рекомендации</a>
        <a class="header__link" href="./instructions.html">Инструкции</a>
        <a class="header__link" href="./valuable.html">Полезные статьи</a>
    </div>
    <button class="header__btn btn-primary">Подписаться</button>
</header>