<header class="header container">
    <div class="header__link">Видео и аудио</div>
    <div class="header__link">Интерактивные калькуляторы</div>
    <div class="header__link">Анонс мероприятий</div>
    <div class="header__link">Клинические рекомендации</div>
    <div class="header__link">Инструкции</div>
    <div class="header__link">Полезные статьи</div>
    <button class="header__btn btn-primary">Подписаться</button>
</header>