<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="container">
<%- include('header.ejs'); %>
<main>
    <section ></section>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>