<section class="promo">
    <div class="container">
        <div class="promo__top">
            <div class="promo__top-heading">Время<br>педиатра</div>
            <div class="promo__top-heading promo__top-heading--VideoAudio">Видео<br>и Аудио</div>
            <div class="promo__top-text">Вся самая<br>актуальная<br>информация<br>на одном портале</div>
        </div>
        <div class="promo__plan">
            <div class="promo__plan-heading">Сформируйте <span>индивидуальный план<br>прививок</span> для вашего пациента</div>
            <div class="promo__plan-block">
                <div class="promo__plan-item">
                    <input class="promo__plan-input input-primary" type="text" placeholder="Дата рождения">
                </div>
                <button class="promo__plan-btn btn-primary">Сформировать</button>
            </div>
            <div class="promo__plan-block promo__plan-block--VideoAudio">
                <div class="promo__plan-item">
                    <input class="promo__plan-input input-primary" type="text" placeholder="Быстрый поиск по названию материала">
                </div>
                <button class="promo__plan-btn btn-primary">Поиск</button>
            </div>
            <img class="promo__plan-img" src="./img/iStock-3.png" alt="img">
            <img class="promo__plan-img promo__plan-img--VideoAudio" src="./img/iStock-11.png" alt="img">
        </div>
        <div class="promo__sticker promo__sticker-1">#Инновационно</div>
        <div class="promo__sticker promo__sticker-2">#Интересно</div>
        <div class="promo__sticker promo__sticker-3">#Полезно</div>
        <div class="promo__sticker promo__sticker-4">#Слушать</div>
        <div class="promo__sticker promo__sticker-5">#Смотреть</div>
        <img class="promo__img promo__img-1" src="./img/promoGroup-1.png" alt="img">
        <img class="promo__img promo__img-2" src="./img/promoGroup-2.png" alt="img">
    </div>
</section>