<section class="subscription container">
    <div class="subscription__left">
        <div class="subscription__left-heading">Подписаться <br>на рассылку</div>
        <div class="subscription__left-text">чтобы не пропустить<br>самое интересное</div>
    </div>
    <div class="subscription__form">
        <div class="subscription__form-heading">Email</div>
        <div class="subscription__form-block">
            <input class="subscription__form-input input-primary" type="text" placeholder="@">
        </div>
        <div class="subscription__form-checkbox">
            <label class="container-checkbox">
                Я являюсь медицинским работником
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container-checkbox">
                Я даю согласие на получение рекламной рассылки (в т.ч. в виде смс, электронных писем и/или через мессенджеры).
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <button class="subscription__form-btn btn-primary" type="submit">Подписаться</button>
    </div>
    <img class="subscription__img" src="./img/iStock-10.png" alt="img">
</section>