<div class="table">
    <div class="table__top">
        <div class="table__top-block">
            <div class="table__top-header">Плановая дата</div>
        </div>
        <div class="table__top-block">
            <div class="table__top-header">Возраст</div>
        </div>
        <div class="table__top-block">
            <div class="table__top-header">Наименнование прививки</div>
        </div>
        <div class="table__top-block">
            <div class="table__top-header">Комментарии</div>
        </div>
    </div>
    <div class="table__bottom table__bottom--gray">
        <div class="table__bottom-top">
            <div class="table__bottom-heading">Проставленные прививки</div>
            <button class="table__btn">
                <img class="table__btn-img" src="./img/button.svg" alt="img">
            </button>
        </div>
        <div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">март 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">0 месяцев</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Туберкулёз</div>
                    <div class="table__item-text">Гепатит B V1</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">апрель 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">1 месяц</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Гепатит B V2</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">май 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">2 месяца</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Пневмококковая инфекция V1</div>
                    <div class="table__item-text">Ротавирусная инфекция* V1</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">июнь 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">3 месяца</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Ротавирусная инфекция* V2</div>
                    <div class="table__item-text">Коклюш/дифтерия/столбняк V1</div>
                    <div class="table__item-text">Полиомиелит V1</div>
                    <div class="table__item-text">Гемофильная инфекция типа b V1</div>
                </div>
            </div>
        </div>
    </div>
    <div class="table__bottom table__bottom--orange">
        <div class="table__bottom-top">
            <div class="table__bottom-heading">Проставленные прививки</div>
            <button class="table__btn">
                <img class="table__btn-img" src="./img/button.svg" alt="img">
            </button>
        </div>
        <div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">март 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">0 месяцев</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Туберкулёз</div>
                    <div class="table__item-text">Гепатит B V1</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">апрель 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">1 месяц</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Гепатит B V2</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">май 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">2 месяца</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Пневмококковая инфекция V1</div>
                    <div class="table__item-text">Ротавирусная инфекция* V1</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">июнь 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">3 месяца</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Ротавирусная инфекция* V2</div>
                    <div class="table__item-text">Коклюш/дифтерия/столбняк V1</div>
                    <div class="table__item-text">Полиомиелит V1</div>
                    <div class="table__item-text">Гемофильная инфекция типа b V1</div>
                </div>
            </div>
        </div>
    </div>
    <div class="table__bottom table__bottom--blue">
        <div class="table__bottom-top">
            <div class="table__bottom-heading">Проставленные прививки</div>
            <button class="table__btn">
                <img class="table__btn-img" src="./img/button.svg" alt="img">
            </button>
        </div>
        <div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">март 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">0 месяцев</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Туберкулёз</div>
                    <div class="table__item-text">Гепатит B V1</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">апрель 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">1 месяц</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Гепатит B V2</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">май 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">2 месяца</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Пневмококковая инфекция V1</div>
                    <div class="table__item-text">Ротавирусная инфекция* V1</div>
                </div>
            </div>
            <div class="table__item">
                <div class="table__item-block">
                    <div class="table__item-headline">июнь 2022</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-headline">3 месяца</div>
                </div>
                <div class="table__item-block">
                    <div class="table__item-text">Ротавирусная инфекция* V2</div>
                    <div class="table__item-text">Коклюш/дифтерия/столбняк V1</div>
                    <div class="table__item-text">Полиомиелит V1</div>
                    <div class="table__item-text">Гемофильная инфекция типа b V1</div>
                </div>
            </div>
        </div>
    </div>
</div>