<section class="useful container">
    <div class="useful__top">
        <div class="useful__top-heading">ПОЛЕЗНО</div>
        <img class="useful__top-img" src="./img/iStock-7.png" alt="img">
    </div>
    <div class="useful__bottom">
        <div class="useful__card">
            <div class="useful__card-heading">Клинические<br>рекомендации</div>
            <button class="useful__card-btn btn-primary">Посмотреть</button>
            <img class="useful__card-img" src="./img/iStock-8.png" alt="img">
        </div>
        <div class="useful__card">
            <div class="useful__card-heading">Ближайшие<br>мероприятия</div>
            <button class="useful__card-btn btn-primary">Узнать</button>
            <img class="useful__card-img--2" src="./img/iStock-9.png" alt="img">
        </div>
    </div>
</section>