<div id="waiver-modal" class="modal">
    <div class="waiver">
        <div class="waiver__heading">Простите, сайт доступен только<br>для медицинских работников</div>
        <button id="back-btn" class="waiver__btn btn-primary">Назад</button>
        <img class="waiver__img" src="./img/iStock-2.png" alt="img">
        <div class="waiver__shadow"></div>
    </div>
</div>
